@import '../../../../Styles/mixins';
@import '../../../../Styles/variables';

.site-footer {
  background-color: black;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  flex-direction: column;

  .footer-logo {
    margin-bottom: 1.5rem;
    font-size: 30px;
    color: #2fa227;
  }

  .footer-content {
    padding-left: 10rem;
    padding-right: 10rem;

    width: 100%;
    display: flex;
    justify-content: space-between;

    .footer-column {
      margin-right: 20px;

      h3 {
        margin-bottom: 10px;
        color: $color-primary;
        text-transform: uppercase;
        font-size: 1.5rem;
      }

      p {
        margin-bottom: 5px;
        color: white;
      }

      .footer-links {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 5px;
          color: white;

          a {
            color: white;
            text-decoration: none;

            &:hover {
              color: #ccc;
            }
          }
        }
      }
    }
  }
}

/* Large  */
@media (max-width: 1199px) {
  .site-footer {
    .footer-content {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

/* Desktop  */
@media (max-width: 991px) {
}

/* tablets  */
@media (max-width: 767px) {
}

/* phones  */
@media (max-width: 575px) {
  .site-footer {
    .footer-content {
      flex-direction: column;
      gap: 2rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
