@import '../../Styles/variables';

.custom-button {
    text-transform: uppercase;
    padding: 1em 2.5em;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    font-weight: 500;
    border: 2px solid $color-primary;
    background-color: white;

    &:hover {
        background-color: $color-primary;
        color: black;
    }
}