@import '../../../Styles/variables';

.product {
  padding-left: $padding-x-desk;
  padding-right: $padding-x-desk;
  padding-top: 1rem;
  padding-bottom: 3rem;

  .content {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    gap: 1.5rem;

    .image-container {
      display: flex;
      width: 50%;
      flex-direction: column;
      gap: 0.5rem;
    }

    .product-info {
      width: 50%;

      .product-title {
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: 700;
        color: #00712d;
      }

      .product-summary {
        font-size: 1.5rem;
        margin-bottom: 2rem;

        .summary-label {
          font-weight: 600;
          margin-right: 1rem;
        }
      }

      .product-price {
        font-size: 1.5rem;
        margin-bottom: 2rem;

        .price-label {
          margin-right: 1rem;
          font-weight: 600;
        }

        .price-value {
          color: #00712d;
          font-weight: 700;
          margin-right: 0.5rem;
        }
      }

      .divider {
        border: 0;
        border-top: 1px solid $color-primary;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
      }

      .quantity-selector {
        margin-bottom: 1.5rem;

        .quantity-label {
          margin-right: 1rem;
          font-size: 1.5rem;
          font-weight: 700;
        }
      }

      .add-to-cart {
        width: 50%;
        font-weight: 600;
        margin-top: 10px;
        padding: 0.5em 1.5em;
        border: 1px solid #00712d;
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-bottom: 3rem;

        &:hover {
          background-color: #00712d;
          color: white;
        }
      }

      .product-category {
        .category-label {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .description {
    .title {
      font-weight: 700;
      font-size: 2rem;
    }

    .divider {
      border: 0;
      border-top: 1px solid $color-primary;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        text-align: center;
        background-color: beige;
      }
    }
  }
}

@media screen and (min-width: 768px) {}

@media (max-width: 767px) {
  .product {
    padding-left: $padding-x-tablet;
    padding-right: $padding-y-tablet;

    .content {
      display: flex;
      flex-direction: column;

      .image-container {
        width: 100%;
      }

      .product-info {
        width: 100%;
      }
    }
  }
}

/* Large  */
@media (max-width: 1199px) {}