@import '../../../Styles/variables';

.blogs {
  padding-left: $padding-x-desk;
  padding-right: $padding-x-desk;
  padding-top: 1rem;
  padding-bottom: 3rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .news-column {
      h2 {
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 600;
        color: $color-primary;
      }

      .divider {
        border: 0;
        border-top: 1px solid $color-primary;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
      }

      .pagination-custom {
        text-align: center;
      }
    }

    .blogs-item {
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      overflow: hidden;
      margin-bottom: 1rem;
      padding: 1rem;
      height: auto;
      background-color: #fff;

      .news-item-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        background-color: beige;
        background-position: center;
        background-repeat: no-repeat;
      }

      .news-item-title {
        padding: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      .news-item-description {
        padding: 0.5rem 0;
        font-size: 1rem;
      }

      .news-item-meta {
        display: flex;
        padding: 0.5rem 0;
        font-size: 0.7rem;
        gap: 0.25rem;
        text-transform: uppercase;

        .meta-label {
          font-weight: 400;
        }

        .meta-data {
          color: #c9ad35;
          font-weight: 500;
        }
      }

      .news-item-more {
        text-transform: uppercase;
        padding: 1em 2.5em;
        background-color: transparent;
        border: 2px solid $color-primary;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 500;
        margin-top: 1rem;
        color: black;
        width: max-content;
        display: inline-block;

        &:hover {
          background-color: $color-primary;
          color: black;
        }
      }
    }
  }
}

/* Large  */
@media (max-width: 1199px) {
  .blogs {
    padding-left: $padding-x-tablet;
    padding-right: $padding-y-tablet;
  }
}

/* Desktop  */
@media (max-width: 991px) {}

/* tablets  */
@media (max-width: 767px) {}

/* phones  */
@media (max-width: 575px) {
  .blogs {
    padding-left: $padding-x-tablet;
    padding-right: $padding-x-tablet;

    .content {
      grid-template-columns: 1fr;
    }
  }
}