@import '../../../../Styles/variables';

.mobile-navbar {
  display: none !important;

  .navbar-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .navbar-logo-mobile {
      font-size: 30px;
      color: #2fa227;
    }

    .navbar-button {
      position: absolute;
      left: 1.5rem;
      font-size: 1.5rem;
      background-color: white;
    }
  }
}

/* Large  */
@media (max-width: 1199px) {
}

/* Desktop  */
@media (max-width: 991px) {
}

/* tablets  */
@media (max-width: 767px) {
}

/* phones  */
@media (max-width: 575px) {
  .mobile-navbar {
    display: block !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid $color-green;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    z-index: 99;
    position: sticky;
    top: 0;

    .navbar-content {
      .navbar-logo-mobile {
        color: #2fa227;
        text-decoration: none;
      }
      .navbar-button {
      }
    }
  }
}
