@import '../../../Styles/mixins';
@import '../../../Styles/variables';

.blogs {
  @include padding-x-default;
  padding-top: 1rem;
  padding-bottom: 3rem;

  .breadcrumb {
    margin-bottom: 2rem;
  }

  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;

    .news-column {
      h2 {
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 600;
        color: $btn-color;
      }
      .divider {
        border: 0;
        border-top: 1px solid $btn-color;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
      }
      .pagination-custom {
        text-align: center;
      }
    }

    .blogs-item {
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 1rem;
      padding: 1rem;

      .news-item-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .news-item-title {
        padding: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
      }
      .news-item-description {
        padding: 0.5rem 0;
        font-size: 1rem;
      }
      .news-item-meta {
        display: flex;
        padding: 0.5rem 0;
        font-size: 0.7rem;
        gap: 0.25rem;
        text-transform: uppercase;

        .meta-label {
          font-weight: 400;
        }

        .meta-data {
          color: #c9ad35;
          font-weight: 500;
        }
      }

      .news-item-more {
        background-color: $color-green;
        color: white;
        border: none;
      }
    }
  }

  .category-blogs {
    h3 {
      text-transform: uppercase;
      font-size: 2em;
      font-weight: 600;
    }

    .divider {
      border: 0;
      border-top: 1px solid $btn-color;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }

    .category-column {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 1rem;
    }
  }
}

/* Large  */
@media (max-width: 1199px) {
}

/* Desktop  */
@media (max-width: 991px) {
}

/* tablets  */
@media (max-width: 767px) {
}

/* phones  */
@media (max-width: 575px) {
  .blogs {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    .padding-x-default {
      padding-left: 0;
      padding-right: 0;
      .content {
        grid-template-columns: 1fr;
      }
    }
  }
}
