@import '../../../../Styles/mixins';
@import '../../../../Styles/variables';

.head-top {
  @include padding-x-default;
  background-color: $btn-color;
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .label {
    color: yellow;
    margin-right: 5px;
  }

  .value {
    color: white;
    text-decoration: none;
  }

  .contact-email {
    display: flex;
    gap: 1rem;
  }
}

/* Large  */
@media (max-width: 1199px) {
  .padding-x-default {
    padding-left: $padding-x-tablet;
    padding-right: $padding-y-tablet;
  }
}

/* Desktop  */
@media (max-width: 991px) {
}

/* tablets  */
@media (max-width: 767px) {
}

/* phones  */
@media (max-width: 575px) {
  .desktop-head-top {
    display: none;
  }
}
