@import '../../../Styles/variables';

.carousel {
  .carousel-img-wrapper {
    position: relative;

    .carousel-img {
      width: 100%;
      object-fit: cover;
      background-color: beige !important;
      height: 650;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .slider-content {
    width: 100%;
    position: absolute;
    top: 25%;
    text-align: center;
    z-index: 2;

    .text-line-one,
    .text-line-two {
      text-transform: uppercase;
      font-weight: 700;
    }

    .text-line-one {
      color: white;
      font-size: 5em;
    }

    .text-line-two {
      color: white;
      font-size: 5em;
      margin-bottom: 2rem;
    }

    .slider-button {
      text-transform: uppercase;
      padding: 1em 2.5em;
      cursor: pointer;
      font-size: 1.2em;
      color: white;
      font-weight: 500;
      border: 2px solid $color-primary;
      background-color: transparent;

      &:hover {
        background-color: $color-primary;
        color: black;
      }
    }
  }
}

/* Large  */
@media (max-width: 1199px) {}

/* Desktop  */
@media (max-width: 991px) {
  .carousel {
    .carousel-img-wrapper {
      .carousel-img {
        height: 400px;
      }
    }

    .slider-content {
      padding: 1.5rem;

      .text-line-one {
        font-size: 2.5em;
      }

      .text-line-two {
        font-size: 2em;
      }
    }
  }
}

/* tablets  */
@media (max-width: 767px) {}

/* phones  */
@media (max-width: 575px) {
  .carousel {
    .slider-content {
      .text-line-one {
        font-size: 2em;
      }

      .text-line-two {
        font-size: 1.2em;
      }
    }
  }
}