.slider-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* object-position: bottom; */
}

.carousel {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carousel .slider {
    max-width: 100vw;
}

.carousel .slider .slider-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .slider .slider-item .slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .slider .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.text-line-one,
.text-line-two {
    text-align: center;
    font-weight: 700;
}

.text-line-one {
    color: white;
    font-size: 50px;
}

.text-line-two {
    color: #00ff00;
    font-size: 50px;
}

.contact-button {
    padding: 0.5em 1.5em;
    color: black;
    background-color: white;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 2em;
    font-weight: 700;
}