.slide {
    overflow: hidden;
    position: relative;
}

.slide-child {
    display: flex;
    align-items: center;
    max-height: 60vh;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
}

.slide .button-bottom {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.slide .bottom-circle {
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
}

.slide .bottom-circle .bottom-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.slide .bottom-circle .bottom-dots .dot {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    width: 0.75rem;
    height: 0.75rem;
    background-color: white;
    border-radius: 9999px;
}

.dot-padding {
    padding: 0.5rem;
}

.dot-opacity {
    opacity: 0.5;
}