@font-face {
  font-family: 'Oswald';
  src: url(./assets/fonts/oswald/Oswald-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

ol,
ul {
  list-style: none;
}
