.desktop-navbar {
  display: block;
}

.mobile-navbar {
  display: none !important;
}

.navbar-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-logo-mobile {
  font-size: 30px;
  color: #2fa227;
}

.navbar-button {
  position: absolute;
  right: 1em;
  background-color: #28574b;
}

#root, .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  width: 100%;
}

.padding-x-default {
  padding-left: 16rem;
  padding-right: 16rem;
}

.padding-y-default {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  border-bottom: 3px solid #28574b;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-right: 3rem;
  font-size: 30px;
  color: #2fa227;
}

.navbar-item {
  margin-right: 2rem;
  text-transform: uppercase;
}

.navbar-cart {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.site-footer {
  background-color: #242424;
  color: #ffffff;
  padding: 40px 0;
  width: 100%;
}

.footer-content {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

.footer-content p {
  margin-bottom: 30px;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links li {
  margin: 0 15px 15px;
}

.footer-links li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-links li a:hover {
  color: #007bff;
}

.cart{
  margin-right: 5px;
}


/* When the viewport is 768px or less, switch the navbar display */
@media (max-width: 768px) {
  .padding-x-default {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .desktop-navbar {
    display: none !important;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile-navbar {
    display: block !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    border-bottom: 3px solid #28574b;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .navbar-item{
    font-size: 1rem;
  }
}

/* Tablet Ipad */
@media (min-width: 768px) and (max-width: 1024.98px) {
  .navbar-item {
    font-size: 14px;
  }

  .padding-x-default {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .navbar-logo {
    margin-right: 2rem;
    font-size: 23px;
    color: #2fa227;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  
}